
@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 447px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .burger{
    display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras {
    padding: 0px;
}

.burgerbtn {
    background-color: #37000e;
    color: white;
  }

.burger-content {
    display: none;
    background-color: rgb(250, 7, 7);
    position: absolute;
    min-width: 160px;
    margin-left: center;
  }
  
.burger-content a {
    padding: 12px 16px;
    font-family: cursive;
    color: white;
    display: block;
  }
.burger-content   a:hover {background-color: green;}
.burger:hover    .burger-content {display: block;}
.burger:hover    .homebtn {background-color: green;}

}